:root {
    --primary-color: #B73131;
    --text-color: #862B2B;
    --bg-color: #FFFFFF;

    --font-family: 'Hind Vadodara', sans-serif;
    --font-size-base: 22px;
    --font-size-title: 40px;

    /*Между чекбоксом и текстом*/
    --spacing-xs: 5px;
    /**Внутренний левый отступ инпутов*/
    --spacing-sm: 20px;
    /*Между инпутами в форме*/
    --spacing-md: 25px;
    /*Между "Забыл пароль" и кнопкой*/
    --spacing-lg: 40px;

    /*Чекбокс*/
    --border-radius-sm: 3px;
    /*Инпуты*/
    --border-radius: 10px;
    /*Кнопки*/
    --border-radius-lg: 52px;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    color: var(--text-color);
    background-color: #FFF2F2;
}

.header {
    position: relative;
    height: 177px;
    background-color: var(--text-color);
}

.button__login {
    position: absolute;
    bottom: 26px;
    right: 58px;
    width: 214px;
    border: none;
    background-color: transparent;
    font-family: 'inter', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #FFFFFF;
}

.body--blurred::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000040;
    backdrop-filter: blur(20.2px);
    z-index: 999;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--bg-color);
    border-radius: 87px;
    z-index: 1000;
    max-width: 588px;
    height: 774px;
    padding: 30px 47px 94px;
}

.section__login {
    display: none;
}

.section__authorization {
    display: none;
    margin-top: 92px;
    height: 896px;
}

.close__btn,
.return__btn {
    position: absolute;
    top: 25px;
    width: 27px;
    height: 27px;
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close__btn {
    right: 54px;
    background-image: url('/images/крест.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.return__btn {
    left: 50px;
    width: 34px;
    background-image: url('/images/назад\ стрелка.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title__log,
.title__authorization {
    margin-top: 11px;
    text-align: center;
    margin-bottom: var(--spacing-lg);
    font-size: var(--font-size-title);
    font-weight: 700;
    color: black;
}

.form__login,
.form__register {
    margin-top: 85px;
}

.fieldset__login,
.fieldset__authorization {
    display: block;
    margin-left: 47px;
    border: none;
}


.form__login .input__group,
.form__register .input__group {
    margin-bottom: var(--spacing-md);
}

.input {
    width: 400px;
    height: 80px;
    padding-left: var(--spacing-sm);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    font-size: var(--font-size-base);
    background-color: #D9D9D9;
}

/*НЕТ В МАКЕТЕ!!*/
.input:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.button__login_in_fieldset,
.button__authorization__fieldset {
    width: 494px;
    height: 108px;
    padding: 27px 42px 61px;
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 52px;
    font-size: var(--font-size-title);
    cursor: pointer;
    margin-top: var(--spacing-lg);
}

/*НЕТ В МАКЕТЕ!!*/
.button__login_in_fieldset:hover {
    background: transparent;
    border: 5px solid var(--primary-color);
    color: var(--primary-color);
}

.checkbox__group {
    margin-top: 23px;
}

.checkbox__label {
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-xs);
    font-size: 13px;
}

.forgot_password {
    color: var(--text-color);
    text-decoration: none;
    font-size: var(--font-size-base);
}

.log_in_using {
    margin-top: 10px;
    margin-left: 47px;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -11%;
}

.log_or_authorization__options {
    width: 217px;
    margin-top: 22px;
    margin-left: 138px;
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-md);
}

.alternative__login {
    width: 55px;
    height: 55px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: #A42D2D;
}

.alternative__login:hover {
    border: 5px solid #A42D2D;
    border-radius: 50%;
    background-color: transparent;
}